AccountingStorageType=accounting_storage/slurmdbd
AuthType=auth/munge
ClusterName=nsm
ControlMachine=ecc-head
DefMemPerCPU=1000
JobAcctGatherType=jobacct_gather/cgroup
ProctrackType=proctrack/cgroup
SchedulerType=sched/backfill
SelectType=select/cons_res
SelectTypeParameters=CR_Core_Memory
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmctldPort=6817
SlurmdDebug=3
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurm/slurmd
SlurmUser=slurm
StateSaveLocation=/var/lib/slurm/slurmctld
TaskPlugin=task/cgroup

# Nodes
{% for i in slurm_nodes %}
NodeName={{ i.name }}{% for k in i | sort if k != 'name' %} {{ k }}={{ 'YES' if i[k] is sameas true else ('NO' if i[k] is sameas false else i[k]) }}{% endfor %}

{% else %}
NodeName=localhost State=UNKNOWN
{% endfor %}

# Partition
PartitionName=azure State=UP MaxTime=UNLIMITED Default=YES Nodes={{ groups[ 'node' ] | join(',') }}
