AuthType=auth/munge
DbdAddr={{ groups['slurmhead'][0] }}
DbdHost={{ groups['slurmhead'][0] }}
SlurmUser=slurm
StorageHost={{ groups['nsm_core'][0] }}
StorageLoc=slurm_acct
StorageUser=slurm
StoragePass=slurm
StoragePort=3306
StorageType=accounting_storage/mysql
LogFile=/var/log/slurm-llnl/slurmdbd.log
